[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
csv-to-sqlite = "==2.1.1"
flask = "==2.2.2"
pandas = "==1.5.1"
redis = "==4.3.4"
zstandard = "==0.18.0"

[dev-packages]

[requires]
python_version = "3.10"
